<section class="section">
  <div class="container">
    <div class="columns">
    	<% if user_signed_in? %>
    		<%= render 'profile' %><hr>
    	</div>
    </div>
    <% end %>

  <% if user_signed_in? %>
	<article class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
			</p>
		</figure>
		<div class="media-content">
	<%= render 'form', order: @order %>	
	</div>
	</article>
  <% end %>
      <% @rejectedorders = Rejectedorder.all %>
      <% @rejectedorders.each do | rejectedorder | %>
        <th><b> Rejected Order: </b></th>
      <td><%= rejectedorder.rejected_order %></td>
      <td> Comment: </td>
       <td><%= rejectedorder.comment %></td>
 <% end %>
 <th><b>Favorite Order: </b></th>
    <td><%= current_user.favorite_order %></td>
<% @rejectedorders = Rejectedorder.all %>
      <% @rejectedorders.each do | rejectedorder | %>
        <% @rejectedorders.each(&:destroy) %>
       <% end %>
<div class="panel panel-default">
    <div class="panel-body">
      <h4><b>Pending Orders:</b></h4>
      <ul id="users">
<%= render 'orders/index', :orders => @orders = Order.all %>
</ul>
      <div data-coffee-order="checklist">
      </div>
   




